JWT_ENCODING_ALGO=
JWT_ENCODING_SECRET_KEY=
JWT_TOKEN_EXPIRY_DELTA=

DATABASE_HOST=localhost
DATABASE_NAME=stocks-db
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=3306
DJANGO_SETTINGS_MODULE = 'stocks_project.settings'

DEBUG=True